
.card {
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    display: grid;
    margin: 5px 2px 2px 0;
  }


.card_title {
    text-align: center;
    background-color: rgb(208, 205, 205);
    padding-top: 1px;
}
.prescription_items{
    width: 206px;
    padding-top: 0.5rem;
   text-align: left;
   padding-right: 0.5px;
   padding-left: 2px;
   background-color: white;
   font-size: 14px;
}

.card_prescription_container {
    text-align: center;
    background-color: rgb(208, 205, 205);
    width: 13rem;
    height: 4.5rem;
}


h3{
    padding-bottom: 6px;
    height: 25px;
    
}
p:hover{
    background-color: rgb(80, 191, 154);
}

.card_container{
    width: 13rem;
    /* height: 15rem; */
    background-color: white;
}
.items{
   width: 200px;
   text-align: left;
   padding-right: 0.5px;
   padding-left: 2px;
   font-size: 14px;
}